In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import re
from dotenv import load_dotenv
load_dotenv()
import os

In [2]:
db_connection_str = os.getenv("DB_CONNECTION_STR")

db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM crash_db_Cincinnati', con=db_connection)
df = df.replace('',np.nan)

In [3]:
df.shape

(234519, 30)

In [4]:
df.head()

,cid,createDate,createBy,dataFrom,ADDRESS_X,LATITUDE_X,LONGITUDE_X,AGE,COMMUNITY_COUNCIL_NEIGHBORHOOD,CPD_NEIGHBORHOOD,...,LOCALREPORTNO,MANNEROFCRASH,ROADCONDITIONSPRIMARY,ROADCONTOUR,ROADSURFACE,SNA_NEIGHBORHOOD,TYPEOFPERSON,WEATHER,ZIP,UNITTYPE
0,1000000000,2020-03-06 08:14:56,David,Cincinnati,None,None,None,UNKNOWN,N/A,N/A,...,None,None,None,None,None,N/A,None,None,None,None
1,1000000001,2020-03-06 08:14:56,David,Cincinnati,None,None,None,UNKNOWN,N/A,N/A,...,None,None,None,None,None,N/A,None,None,None,None
2,1000000002,2020-03-06 08:14:56,David,Cincinnati,None,None,None,UNKNOWN,N/A,N/A,...,135001314,None,None,None,None,N/A,None,None,None,None
3,1000000003,2020-03-06 08:14:56,David,Cincinnati,None,None,None,UNKNOWN,N/A,N/A,...,135001314,None,None,None,None,N/A,None,None,None,None
4,1000000004,2020-03-06 08:14:56,David,Cincinnati,None,None,None,UNKNOWN,N/A,N/A,...,None,None,None,None,None,N/A,None,None,None,None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234519 entries, 0 to 234518
Data columns (total 30 columns):
cid                               234519 non-null int64
createDate                        234519 non-null datetime64[ns]
createBy                          234519 non-null object
dataFrom                          234519 non-null object
ADDRESS_X                         234486 non-null object
LATITUDE_X                        234480 non-null object
LONGITUDE_X                       234478 non-null object
AGE                               234519 non-null object
COMMUNITY_COUNCIL_NEIGHBORHOOD    234519 non-null object
CPD_NEIGHBORHOOD                  234519 non-null object
CRASHDATE                         234491 non-null object
CRASHLOCATION                     193991 non-null object
CRASHSEVERITY                     234505 non-null object
CRASHSEVERITYID                   234505 non-null object
DATECRASHREPORTED                 234491 non-null object
DAYOFWEEK                         234493 non-null object
GENDER                            207062 non-null object
INJURIES                          234290 non-null object
INSTANCEID                        234519 non-null object
LIGHTCONDITIONSPRIMARY            234492 non-null object
LOCALREPORTNO                     234504 non-null object
MANNEROFCRASH                     234492 non-null object
ROADCONDITIONSPRIMARY             234492 non-null object
ROADCONTOUR                       234492 non-null object
ROADSURFACE                       234492 non-null object
SNA_NEIGHBORHOOD                  234519 non-null object
TYPEOFPERSON                      234293 non-null object
WEATHER                           234492 non-null object
ZIP                               228053 non-null object
UNITTYPE                          234292 non-null object
dtypes: datetime64[ns](1), int64(1), object(28)
memory usage: 53.7+ MB

In [6]:
df.columns

Index(['cid', 'createDate', 'createBy', 'dataFrom', 'ADDRESS_X', 'LATITUDE_X',
       'LONGITUDE_X', 'AGE', 'COMMUNITY_COUNCIL_NEIGHBORHOOD',
       'CPD_NEIGHBORHOOD', 'CRASHDATE', 'CRASHLOCATION', 'CRASHSEVERITY',
       'CRASHSEVERITYID', 'DATECRASHREPORTED', 'DAYOFWEEK', 'GENDER',
       'INJURIES', 'INSTANCEID', 'LIGHTCONDITIONSPRIMARY', 'LOCALREPORTNO',
       'MANNEROFCRASH', 'ROADCONDITIONSPRIMARY', 'ROADCONTOUR', 'ROADSURFACE',
       'SNA_NEIGHBORHOOD', 'TYPEOFPERSON', 'WEATHER', 'ZIP', 'UNITTYPE'],
      dtype='object')

In [7]:
df2 = pd.DataFrame()
df2['cid'] = df.cid
df2['city'] = df.dataFrom
df2['crash_time'] = pd.to_datetime(df.CRASHDATE)
df2['latitude'] = df.LATITUDE_X
df2['longitude'] = df.LONGITUDE_X
df2['street_name'] = df.ADDRESS_X
df2['injured_count'] = df.INJURIES
df2['crash_date'] = pd.to_datetime(df2['crash_time'].dt.date)

In [8]:
df2.head()

,cid,city,crash_time,latitude,longitude,street_name,injured_count,crash_date
0,1000000000,Cincinnati,NaT,None,None,None,None,NaT
1,1000000001,Cincinnati,2019-10-05 09:15:00,None,None,None,None,2019-10-05
2,1000000002,Cincinnati,NaT,None,None,None,None,NaT
3,1000000003,Cincinnati,NaT,None,None,None,None,NaT
4,1000000004,Cincinnati,NaT,None,None,None,None,NaT

In [9]:
df2.to_sql('cleaned_crash_Cincinnati',con = db_connection, if_exists="replace",index=False)

In [10]:
df2.to_sql('home_allcleanedcrashdata',con = db_connection, if_exists="append",index=False)