In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import re
from dotenv import load_dotenv
load_dotenv()
import os

In [2]:
db_connection_str = os.getenv("DB_CONNECTION_STR")

db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM crash_db_Austin', con=db_connection)
df = df.replace('',np.nan)

In [3]:
df2 = pd.DataFrame()
df.head(10)

,cid,createDate,createBy,dataFrom,socrata_id,crash_id,crash_fatal_fl,crash_date,crash_time,case_id,...,street_name_2,street_nbr_2,crash_sev_id,sus_serious_injry_cnt,nonincap_injry_cnt,poss_injry_cnt,non_injry_cnt,unkn_injry_cnt,tot_injry_cnt,death_cnt
0,1000000001,2020-01-26 03:57:53,David,Austin,0,12415415,false,11/02/2011 12:00:00 AM,8:50:00,2011-3060552,...,NaN,NaN,3,0,0,1,1,0,1,0
1,1000000002,2020-01-26 03:57:53,David,Austin,1,12415419,false,10/08/2011 12:00:00 AM,18:05:00,112811311,...,NaN,NaN,5,0,0,0,1,0,0,0
2,1000000003,2020-01-26 03:57:53,David,Austin,2,12415435,false,09/02/2011 12:00:00 AM,16:40:00,11-2451578,...,NaN,NaN,2,0,2,1,3,0,3,0
3,1000000004,2020-01-26 03:57:53,David,Austin,3,12415436,false,10/20/2011 12:00:00 AM,8:00:00,112930420,...,NaN,NaN,1,1,0,0,1,0,1,0
4,1000000005,2020-01-26 03:57:53,David,Austin,4,12415437,false,10/28/2011 12:00:00 AM,0:18:00,11-3010033,...,E RIVERSIDE DR,NaN,1,1,0,0,1,0,1,0
5,1000000006,2020-01-26 03:57:53,David,Austin,5,12415438,false,10/29/2011 12:00:00 AM,23:15:00,113022185,...,NaN,NaN,5,0,0,0,5,1,0,0
6,1000000007,2020-01-26 03:57:53,David,Austin,6,12415439,false,10/28/2011 12:00:00 AM,23:43:00,113012270,...,NaN,NaN,5,0,0,0,1,0,0,0
7,1000000008,2020-01-26 03:57:53,David,Austin,7,12415440,false,10/28/2011 12:00:00 AM,13:04:00,113010953,...,W DITTMAR RD,NaN,3,0,0,1,1,0,1,0
8,1000000009,2020-01-26 03:57:53,David,Austin,8,12415442,false,10/29/2011 12:00:00 AM,8:08:00,11-3020682,...,CONGRESS AVE S,NaN,5,0,0,0,1,1,0,0
9,1000000010,2020-01-26 03:57:53,David,Austin,9,12415444,false,10/29/2011 12:00:00 AM,10:30:00,113020848,...,UNKNOWN,NaN,5,0,0,0,3,0,0,0

In [4]:
df.shape

(144840, 32)

In [5]:
df.columns

Index(['cid', 'createDate', 'createBy', 'dataFrom', 'socrata_id', 'crash_id',
       'crash_fatal_fl', 'crash_date', 'crash_time', 'case_id', 'rpt_latitude',
       'rpt_longitude', 'rpt_block_num', 'rpt_street_pfx', 'rpt_street_name',
       'rpt_street_sfx', 'crash_speed_limit', 'road_constr_zone_fl',
       'latitude', 'longitude', 'street_name', 'street_nbr', 'street_name_2',
       'street_nbr_2', 'crash_sev_id', 'sus_serious_injry_cnt',
       'nonincap_injry_cnt', 'poss_injry_cnt', 'non_injry_cnt',
       'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144840 entries, 0 to 144839
Data columns (total 32 columns):
cid                      144840 non-null int64
createDate               144840 non-null datetime64[ns]
createBy                 144840 non-null object
dataFrom                 144840 non-null object
socrata_id               144840 non-null object
crash_id                 144840 non-null object
crash_fatal_fl           144840 non-null object
crash_date               144840 non-null object
crash_time               144840 non-null object
case_id                  142822 non-null object
rpt_latitude             4461 non-null object
rpt_longitude            4461 non-null object
rpt_block_num            125477 non-null object
rpt_street_pfx           82060 non-null object
rpt_street_name          144839 non-null object
rpt_street_sfx           108226 non-null object
crash_speed_limit        144840 non-null object
road_constr_zone_fl      144840 non-null object
latitude                 140825 non-null object
longitude                140825 non-null object
street_name              144840 non-null object
street_nbr               60221 non-null object
street_name_2            63093 non-null object
street_nbr_2             0 non-null float64
crash_sev_id             144840 non-null object
sus_serious_injry_cnt    144840 non-null object
nonincap_injry_cnt       144840 non-null object
poss_injry_cnt           144840 non-null object
non_injry_cnt            144840 non-null object
unkn_injry_cnt           144840 non-null object
tot_injry_cnt            144840 non-null object
death_cnt                144840 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(29)
memory usage: 35.4+ MB

In [7]:
# 
df2['city'] = df['dataFrom']

df2[['latitude','longitude']] = df[['latitude','longitude']].astype('float64')

print(df2.info())

df2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144840 entries, 0 to 144839
Data columns (total 3 columns):
city         144840 non-null object
latitude     140825 non-null float64
longitude    140825 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.3+ MB
None

            latitude      longitude
count  140825.000000  140825.000000
mean       30.307023     -97.745078
std         0.341270       0.729812
min       -35.090370    -112.174130
25%        30.234345     -97.768102
50%        30.283834     -97.737147
75%        30.360861     -97.704294
max        46.092457     117.919850

In [8]:
df2['latitude'] = df2['latitude'].fillna(df2['latitude'].mean())
df2['longitude'] = df2['longitude'].fillna(df2['longitude'].mean())

df2[['latitude','longitude']].describe()

            latitude      longitude
count  144840.000000  144840.000000
mean       30.307023     -97.745078
std         0.336507       0.719626
min       -35.090370    -112.174130
25%        30.235389     -97.766652
50%        30.287433     -97.738715
75%        30.358670     -97.705460
max        46.092457     117.919850

In [9]:
df2['cid'] = df['cid']
df2['street_name'] = df.street_name
df2['injured_count'] = df.tot_injry_cnt

In [10]:
df2['crash_time'] = df['crash_date'] + ' ' + df['crash_time']

df2.crash_time = pd.to_datetime(df2.crash_time)
df2['crash_date'] = pd.to_datetime(df2['crash_time'].dt.date)
df2.head()

,city,latitude,longitude,cid,street_name,injured_count,crash_time,crash_date
0,Austin,30.354210,-97.685864,1000000001,NORTH PLZ,1,2011-11-02 08:50:00,2011-11-02
1,Austin,30.475736,-97.794151,1000000002,LAKE CREEK PKWY,0,2011-10-08 18:05:00,2011-10-08
2,Austin,30.233791,-97.873137,1000000003,US0290,3,2011-09-02 16:40:00,2011-09-02
3,Austin,30.331012,-97.682771,1000000004,US0183,1,2011-10-20 08:00:00,2011-10-20
4,Austin,30.248333,-97.735418,1000000005,IH0035,1,2011-10-28 00:18:00,2011-10-28

In [11]:
df2.describe()

            latitude      longitude           cid
count  144840.000000  144840.000000  1.448400e+05
mean       30.307023     -97.745078  1.000072e+09
std         0.336507       0.719626  4.181185e+04
min       -35.090370    -112.174130  1.000000e+09
25%        30.235389     -97.766652  1.000036e+09
50%        30.287433     -97.738715  1.000072e+09
75%        30.358670     -97.705460  1.000109e+09
max        46.092457     117.919850  1.000145e+09

In [12]:
df2

,city,latitude,longitude,cid,street_name,injured_count,crash_time,crash_date
0,Austin,30.354210,-97.685864,1000000001,NORTH PLZ,1,2011-11-02 08:50:00,2011-11-02
1,Austin,30.475736,-97.794151,1000000002,LAKE CREEK PKWY,0,2011-10-08 18:05:00,2011-10-08
2,Austin,30.233791,-97.873137,1000000003,US0290,3,2011-09-02 16:40:00,2011-09-02
3,Austin,30.331012,-97.682771,1000000004,US0183,1,2011-10-20 08:00:00,2011-10-20
4,Austin,30.248333,-97.735418,1000000005,IH0035,1,2011-10-28 00:18:00,2011-10-28
5,Austin,30.247088,-97.732895,1000000006,E RIVERSIDE DR,0,2011-10-29 23:15:00,2011-10-29
6,Austin,30.216693,-97.848550,1000000007,SL0001,0,2011-10-28 23:43:00,2011-10-28
7,Austin,30.183405,-97.781972,1000000008,S CONGRESS AVE,1,2011-10-28 13:04:00,2011-10-28
8,Austin,30.249802,-97.749452,1000000009,GIBSON ST E,0,2011-10-29 08:08:00,2011-10-29
9,Austin,30.223139,-97.840437,1000000010,W WILLIAM CANNON DR,0,2011-10-29 10:30:00,2011-10-29
10,Austin,30.216215,-97.744023,1000000011,SH0071,1,2011-10-20 13:45:00,2011-10-20
11,Austin,30.266739,-97.734361,1000000012,E 7TH ST,0,2011-10-29 01:52:00,2011-10-29
12,Austin,30.461683,-97.817547,1000000013,RM0620,1,2011-11-01 17:53:00,2011-11-01
13,Austin,30.264532,-97.735085,1000000014,IH0035,0,2011-11-02 16:16:00,2011-11-02
14,Austin,30.276813,-97.751416,1000000015,N LAMAR BLVD,1,2011-11-03 10:01:00,2011-11-03
15,Austin,30.310794,-97.732870,1000000016,W 45TH ST,0,2011-11-01 14:34:00,2011-11-01
16,Austin,30.474663,-97.772917,1000000017,SH0045,1,2011-10-09 08:25:00,2011-10-09
17,Austin,30.157619,-97.790244,1000000018,IH0035,0,2011-09-09 11:47:00,2011-09-09
18,Austin,30.378622,-97.736361,1000000019,US0183,0,2011-11-02 00:28:00,2011-11-02
19,Austin,30.199305,-97.795052,1000000020,MT CARRELL DR,0,2011-10-29 02:58:00,2011-10-29
20,Austin,30.246521,-97.732152,1000000021,E RIVERSIDE DR,0,2011-10-30 14:13:00,2011-10-30
21,Austin,30.346767,-97.750705,1000000022,SL0001,1,2011-10-20 18:58:00,2011-10-20
22,Austin,30.270070,-97.742046,1000000023,CONGRESS AVE,0,2011-10-22 11:55:00,2011-10-22
23,Austin,30.419681,-97.704482,1000000024,SL0001,0,2011-11-03 03:01:00,2011-11-03
24,Austin,30.285635,-97.665360,1000000025,US0183,0,2011-10-11 06:05:00,2011-10-11
25,Austin,30.311808,-97.764155,1000000026,W 35TH ST,4,2011-10-08 18:09:00,2011-10-08
26,Austin,30.231453,-97.763843,1000000027,POWELL CIR,0,2011-10-09 22:27:00,2011-10-09
27,Austin,30.223288,-97.747343,1000000028,IH0035,0,2011-10-09 05:09:00,2011-10-09
28,Austin,30.241715,-97.728322,1000000029,E RIVERSIDE DR,1,2011-11-01 08:58:00,2011-11-01
29,Austin,30.250425,-97.698972,1000000030,SHADY LN,0,2011-11-02 17:47:00,2011-11-02
...,...,...,...,...,...,...,...,...
144810,Austin,30.360497,-97.778127,1000144811,FAR WEST BLVD,0,2011-11-29 20:44:00,2011-11-29
144811,Austin,30.311323,-97.709262,1000144812,IH0035,0,2011-11-29 18:51:00,2011-11-29
144812,Austin,30.198451,-97.764098,1000144813,IH0035,1,2011-11-29 23:54:00,2011-11-29
144813,Austin,30.416968,-97.705432,1000144814,SL0001,1,2011-11-29 18:07:00,2011-11-29
144814,Austin,30.339431,-97.717810,1000144815,N LAMAR BLVD,0,2011-11-30 08:56:00,2011-11-30
144815,Austin,30.241885,-97.752512,1000144816,CONGRESS AVE S,0,2011-11-30 16:36:00,2011-11-30
144816,Austin,30.112728,-97.789536,1000144817,FM1327,1,2011-11-25 03:30:00,2011-11-25
144817,Austin,30.200655,-97.866205,1000144818,SL0001,2,2011-09-13 06:22:00,2011-09-13
144818,Austin,30.475277,-97.811045,1000144819,LAKELINE BLVD,2,2011-12-01 22:58:00,2011-12-01
144819,Austin,30.244785,-97.725492,1000144820,S LAKESHORE BLVD,1,2011-03-27 19:36:00,2011-03-27
144820,Austin,30.312067,-97.708902,1000144821,IH0035,0,2011-04-05 02:57:00,2011-04-05
144821,Austin,30.403145,-97.674485,1000144822,CANYON RIDGE DR,4,2011-08-06 14:00:00,2011-08-06
144822,Austin,30.278706,-97.731221,1000144823,E MARTIN LUTHER KING JR BLVD,0,2011-09-09 14:00:00,2011-09-09
144823,Austin,30.285476,-97.681814,1000144824,HEFLIN LN,1,2011-09-12 07:52:00,2011-09-12
144824,Austin,30.337758,-97.718914,1000144825,AIRPORT BLVD,0,2011-09-13 12:34:00,2011-09-13
144825,Austin,30.255848,-97.747362,1000144826,CONGRESS AVE S,1,2011-10-04 20:26:00,2011-10-04
144826,Austin,30.332514,-97.686379,1000144827,US0183,2,2011-10-08 16:15:00,2011-10-08
144827,Austin,30.320486,-97.715502,1000144828,SS0069,0,2011-10-14 16:43:00,2011-10-14
144828,Austin,30.262475,-97.703832,1000144829,TILLERY ST,1,2011-10-28 17:56:00,2011-10-28
144829,Austin,30.273045,-97.745962,1000144830,SAN ANTONIO ST,0,2011-10-11 09:58:00,2011-10-11
144830,Austin,30.216919,-97.751038,1000144831,IH0035,2,2011-10-25 13:02:00,2011-10-25
144831,Austin,30.439179,-97.668729,1000144832,IH0035,0,2011-11-07 08:12:00,2011-11-07
144832,Austin,30.214924,-97.730154,1000144833,E BEN WHITE BLVD,0,2011-10-10 12:57:00,2011-10-10
144833,Austin,30.272705,-97.741032,1000144834,CONGRESS AVE,0,2011-11-17 11:55:00,2011-11-17
144834,Austin,30.300172,-97.648224,1000144835,LOYOLA LN,5,2011-10-24 02:16:00,2011-10-24
144835,Austin,30.249540,-97.735679,1000144836,IH0035,0,2011-10-22 20:30:00,2011-10-22
144836,Austin,30.284049,-97.745021,1000144837,RIO GRANDE ST,0,2011-10-27 11:42:00,2011-10-27
144837,Austin,30.360200,-97.793039,1000144838,RM2222,1,2011-10-24 16:13:00,2011-10-24
144838,Austin,30.203766,-97.640576,1000144839,SH0071,0,2011-09-21 06:11:00,2011-09-21
144839,Austin,30.222034,-97.695995,1000144840,ANISE DR,0,2011-10-29 23:39:00,2011-10-29

In [ ]:
df2.to_sql('cleaned_crash_Austin',con = db_connection, if_exists="replace",index=False)

In [ ]:
df2.to_sql('home_allcleanedcrashdata',con = db_connection, if_exists="append",index=False)